@font-face {
    font-display: swap;
    font-family: 'JetBrains Mono';
    font-weight: 200;
    src: url('../fonts/JetBrainsMono-200.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'JetBrains Mono';
    font-weight: 400;
    src: url('../fonts/JetBrainsMono-400.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'JetBrains Mono';
    font-weight: 600;
    src: url('../fonts/JetBrainsMono-600.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'JetBrains Mono';
    font-weight: 800;
    src: url('../fonts/JetBrainsMono-800.woff2') format('woff2');
}

:root {
    --bg-color: #000;
    --text-color: #fff;
    --red: #b72e33;
    --purple: #75147c;
    --teal: #28529f;
    --green: #7ec970;
    --yellow: #f7d943;
    --brown: #81491e;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}

/* utility classes to fade in items in sequence */

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
}

.swiper-slide-seen .fade-in {
    animation: fadeIn 1s forwards;
}

.swiper-slide-seen .fade-in-0 {
    animation-delay: 0;
}

.swiper-slide-seen .fade-in-1 {
    animation-delay: 0.5s;
}

.swiper-slide-seen .fade-in-2 {
    animation-delay: 1s;
}

.swiper-slide-seen .fade-in-3 {
    animation-delay: 1.5s;
}

.swiper-slide-seen .fade-in-4 {
    animation-delay: 2s;
}

.swiper-slide-seen .fade-in-5 {
    animation-delay: 2.5s;
}

.swiper-slide-seen .fade-in-6 {
    animation-delay: 3s;
}

.swiper-slide-seen .fade-in-7 {
    animation-delay: 3.5s;
}

/* shadow classes */

.shadow-red p,
.shadow-red li {
    box-shadow: 0.25em 0.25em var(--red);
}

.shadow-purple p,
.shadow-purple li {
    box-shadow: 0.25em 0.25em var(--purple);
}

.shadow-teal p,
.shadow-teal li {
    box-shadow: 0.25em 0.25em var(--teal);
}

.shadow-green p,
.shadow-green li {
    box-shadow: 0.25em 0.25em var(--green);
}

.shadow-yellow p,
.shadow-yellow li {
    box-shadow: 0.25em 0.25em var(--yellow);
}

.shadow-brown p,
.shadow-brown li {
    box-shadow: 0.25em 0.25em var(--brown);
}

/* Reset all margins, paddings, and borders */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set base font family */
body {
    font-family: system-ui, sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

/* Ensure images and videos are scaled properly */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* Heading styles */
h2 {
    margin-bottom: 1em;
    font-size: 1.5em;
    line-height: 1.325em;
}

/* Remove default list styles */
ul,
ol {
    list-style: none;
}

/* Remove default link styles */
a {
    text-decoration: none;
    color: inherit;
}

/* Set form elements to inherit fonts */
input,
button,
textarea,
select {
    font: inherit;
    border: none;
    background: none;
    outline: none;
    color: inherit;
}

/* Make buttons and interactive elements more accessible */
button,
[role='button'] {
    cursor: pointer;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'JetBrains Mono', monospace;
    font-size: 2vw;
    line-height: 1.5;
    overflow: hidden;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 2em;
}

button {
    background-color: var(--text-color);
    color: var(--bg-color);
    padding: 0.2em 0.5em;
}

.swiper {
    height: 100%;
    min-width: 320px;
    background-color: var(--bg-color);
}

.swiper-slide {
    background-position: 50% 50%;
    background-size: cover;
    padding: 1em 1.25em 1.25rem 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

p,
li {
    background-color: var(--bg-color);
    margin: 0 0 1em 0;
    padding: 0.25em 0.5em;
    position: relative;
}

li {
    padding-left: 1.5em;
    position: relative;
}

li::before {
    content: '-';
    position: absolute;
    left: 0.5em;
}

.bg {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-size: cover;
}

.slide-1 .logos {
    margin-bottom: 2em;
    display: flex;
    gap: 1em;
    padding-left: 1.5em;
}

.slide-1 .logos img {
    width: auto;
    height: 5em;
    object-fit: contain;
    margin-right: 1em;
}

.slide-1 h1 {
    margin-bottom: 1em;
}

.slide-2 .bg {
    background-image: url('img/slide-2.jpg');
}

.slide-2 p {
    margin-bottom: 20em;
    width: 20em;
}

.slide-3 {
    background-image: url('img/kiosk-empty.jpg');
}

.slide-3 .bg {
    background-image: url('img/kiosk.jpg');
}

.slide-3 p {
    margin-bottom: 25em;
}

.slide-4 {
    background-image: url('img/ar-at-home-empty.jpg');
}

.slide-4 .bg {
    background-image: url('img/ar-at-home.jpg');
}

.slide-4 p {
    margin-bottom: 21em;
}

.slide-5 {
    background-image: url('img/kiosk-empty.jpg');
}

.slide-5 p {
    margin-bottom: 3em;
}

.slide-6 {
    background-image: url('img/book-ui-1.jpg');
}

.slide-6 .bg:nth-child(1) {
    background-image: url('img/book-ui-2.jpg');
}

.slide-6 .bg:nth-child(2) {
    background-image: url('img/book-ui-3.jpg');
}

.slide-6 p {
    margin-top: 3em;
}

.slide-6 ul {
    margin-top: 18em;
}

.slide-7 {
    background-image: url('img/book-ui-3.jpg');
}

.slide-7 .bg {
    background-image: url('img/book-ui-4.jpg');
}

.slide-7 p {
    margin-bottom: 25em;
    width: 20em;
}

.slide-8 {
    background-image: url('img/kiosk-empty.jpg');
}

.slide-8 .bg {
    background-image: url('img/kiosk.jpg');
}

.slide-8 p {
    margin-bottom: 26em;
}

.slide-9 {
    background-image: url('img/kiosk-qr.jpg');
}

.slide-9 ul {
    margin-top: 15em;
    margin-bottom: 1em;
}

.slide-10 {
    background-image: url('img/ar-at-home-empty.jpg');
}

.slide-10 .bg {
    background-image: url('img/ar-at-home.jpg');
}

.slide-10 p {
    margin-top: 26em;
}

.slide-11 {
    background-image: url('img/diorama-empty.jpg');
}

.slide-11 .bg {
    background-image: url('img/diorama.jpg');
}

.slide-11 p {
    margin-top: 26em;
}

.slide-12 {
    background-image: url('img/collection-mobile.jpg');
}

.slide-13 {
    background-image: url('img/wider-vision-mobile.jpg');
}

.slide-13 p {
    margin-top: 22em;
}

.slide-14 {
    background-image: url('img/kiosk-empty.jpg');
}

.slide-14 p {
    margin-bottom: 3em;
}

.slide-15 {
    background-image: url('img/kiosk-empty.jpg');
}

.slide-15 p {
    margin-bottom: 3em;
}

.slide-16 {
    background-image: url('img/kiosk-empty-cta.jpg');
}

.slide-16 p {
    margin-bottom: 3em;
    box-shadow: 0.25em 0.25em rgba(0, 0, 0, 0.25);
}

.slide-16 p:nth-child(2) {
    width: 18em;
}

/* swiper overrides */
.swiper-button-next,
.swiper-button-prev {
    color: #fff;
}

.swiper-pagination {
    display: none;
}

.swiper-pagination-bullet-active {
    background-color: #fff;
}

.btn-feedback {
    background-image: url('img/btn-feedback.png');
    background-repeat: no-repeat;
    background-size: 1em;
    background-position: 0.6em 50%;
    padding-left: 2.125em;
    box-shadow: 0.25em 0.25em rgba(0, 0, 0, 0.25);
}

#btn-feedback-bottom {
    position: absolute;
    z-index: 1;
    bottom: 1.25em;
    right: 1.25em;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#btn-feedback-bottom.active {
    opacity: 1;
}

.form-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
}

.form-backdrop.active {
    opacity: 1;
    pointer-events: auto;
}

.form-feedback {
    position: relative;
    z-index: 2;
    width: 100%;
    margin: 0 auto;
    padding: 1em;
    background-color: var(--text-color);
    color: var(--bg-color);
    transition: transform 0.5s ease;
}

.form-feedback.active {
    transform: translateY(-100%);
}

.form-feedback #btn-close {
    position: absolute;
    top: 1em;
    right: 0.75em;
    width: 2em;
    height: 2em;
    background-color: var(--text-color);
    background-image: url('img/btn-close.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 1.5em;
}

.form-feedback form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

form .field-shift {
    position: absolute;
    left: -9999px;
}

form label {
    font-weight: 600;
    margin-bottom: 0.5em;
    user-select: none;
}

form input,
form textarea {
    border: 2px solid var(--bg-color);
    border-radius: 0;
    margin-bottom: 1em;
    padding: 0.5em;
}

form input[type='checkbox'] {
    display: none;
}

form input[type='checkbox'] + label {
    position: relative;
    padding-left: 2em;
    cursor: pointer;
    margin-bottom: 1em;
}

form input[type='checkbox'] + label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0.25em;
    width: 1em;
    height: 1em;
    border: 2px solid var(--bg-color);
}

form input[type='checkbox'] + label::after {
    content: '';
    position: absolute;
    left: 0.25em;
    top: 0.5em;
    width: 0.75em;
    height: 0.75em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

form input[type='checkbox']:checked + label::after {
    background-color: var(--bg-color);
}

form textarea {
    resize: none;
    height: 6em;
}

form button {
    background-color: var(--bg-color);
    color: var(--text-color);
    margin-bottom: 1em;
    padding: 0.5em;
    font-weight: 600;
}

form #status-message {
    height: 3em;
}

@media only screen and (min-width: 640px) {
    body {
        font-size: 0.833333vw;
        overflow-y: auto;
    }

    .container {
        min-height: 48vw;
        max-height: 56.25vw;
    }

    .slide-2 p {
        width: auto;
    }

    .slide-3 p {
        margin-top: 2em;
    }

    .slide-4 p {
        margin-top: 7em;
        margin-bottom: 17em;
        margin-right: 30em;
    }

    .slide-5 li {
        max-width: 31em;
    }

    .slide-6 p {
        margin-top: 3em;
    }

    .slide-6 ul {
        margin-top: 18em;
        margin-bottom: 2em;
    }

    .slide-6 li {
        max-width: 40em;
    }

    .slide-7 p {
        margin-bottom: 23em;
        width: 33em;
    }

    .slide-8 p {
        margin-bottom: 23em;
        max-width: 38.5em;
    }

    .slide-9 p {
        margin-top: 0em;
        max-width: 38em;
    }

    .slide-9 ul {
        margin-top: 16em;
        margin-bottom: 3em;
    }

    .slide-9 li {
        max-width: 31em;
    }

    .slide-10 p {
        margin-top: 21em;
    }

    .slide-11 p {
        margin-top: 21em;
    }

    .slide-12 {
        background-image: url('img/collection-desktop.jpg');
    }

    .slide-12 p {
        width: 39em;
    }

    .slide-13 {
        background-image: url('img/wider-vision-desktop.jpg');
    }

    .slide-13 p {
        margin-top: 21em;
    }

    .slide-16 p:nth-child(2) {
        width: 36em;
    }

    .swiper-pagination {
        display: block;
    }

    #btn-feedback-bottom {
        font-size: 0.75em;
    }

    .form-feedback {
        font-size: 0.675em;
    }

    .form-feedback {
        width: 40em;
        padding: 1.5em;
    }

    .form-feedback #btn-close {
        top: 1.5em;
        right: 1.25em;
    }
}
